
/*
 The animate-enter prefix is the event name that you
 have provided within the ngAnimate attribute.
*/
.animate-enter-setup {
 -webkit-transition: 0.4s ease-out all; /* Safari/Chrome */
 -moz-transition: 0.5s ease-out all; /* Firefox */
 -ms-transition: 0.5s ease-out all; /* IE10 */
 -o-transition: 0.5s ease-out all; /* Opera */
 transition: 0.5s ease-out all; /* Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter-setup.animate-enter-start {
 /* The animation code itself */
 opacity: 1;
}



.animate-exit-setup {
 -webkit-transition: 0.4s ease-out all; /* Safari/Chrome */
 -moz-transition: 0.5s ease-out all; /* Firefox */
 -ms-transition: 0.5s ease-out all; /* IE10 */
 -o-transition: 0.5s ease-out all; /* Opera */
 transition: 0.5s ease-out all; /* Future Browsers */
 
 /* The animation preparation code */
 opacity: 1;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-exit-setup.animate-enter-start {
 /* The animation code itself */
 opacity: 0;
}



.animation-with-easing {

  /* linear animation */
  transition-timing-function: linear;

  /* in easing animation */
  transition-timing-function: ease-in;

  /* in-out easing animation */
  transition-timing-function: ease-in-out;

  /* ease-in-quad easing animation */
  transition-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530);

  /* ease-in-transition-timing-function: cubic easing animation */
  transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);

  /* ease-in-out-quart easing animation */
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

  /* ease-in-out-back easing animation */
  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);

  /* view the Github link for more CSS easing animations */
}




/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

/*
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
*/
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */




.view-enter-setup, .view-leave-setup {
   -webkit-transition: 0.3s ease-out all; /* Safari/Chrome */
 -moz-transition: 0.3s ease-out all; /* Firefox */
 -ms-transition: 0.3s ease-out all; /* IE10 */
 -o-transition: 0.3s ease-out all; /* Opera */
 transition: 0.3s ease-out all; /* Future Browsers */
}

.view-enter-setup {
  opacity:0;
}
.view-enter-setup.view-enter-start {
  opacity:1;
}



.view-leave-setup {

  opacity:1;
}
.view-leave-setup.view-leave-start {
  opacity:0;

}

