@import "compass_twitter_bootstrap";
/*body{ padding-top:40px;}*/
@import "compass_twitter_bootstrap_responsive";
@import "animation_styles";
@import "video_styles";


h1{
	margin-bottom: 0.1em;
	font-weight: 400;
}

h1.title{
	margin-bottom: 1.0em;
}

.rama{

	padding-top: 10px; 
	padding-bottom: 10px; 
	background: black;

	.video{
		float:left;  
		background: #000; 
		overflow:hidden;
		cursor: pointer;
	}

	.video:hover{
		outline: 1px solid white;
	}

	.large{
		.video{width: 10%;}
	}

	.small{
		.video{width: 20%;}
	}
}


.ledeo, img.ledeo{
	width: 100%;
	position: relative;
	.sub-ledeo{
		width: 100%;
		position: absolute;
		bottom: 0px;
		background: black;
		opacity: 0.8;

		@media (max-width:480px) {
			position: relative;
			background: none;
		}

		h1{
			color: white;
		}
	}
}


.event-detail{
	margin-top: 1.0em;
}

.box{
	margin-bottom: 1.5em;
}

.flex-video.box{
	margin-bottom: 2.5em;
}

ul.filters{
	li{ 
		cursor: pointer;
	}

	li:hover{
		color: #F99;
	}
}

.active{
	color: red;
}

.calendar .event{

	margin-bottom: 12px;
	padding: 2px;
	.imagebox{
		height: 120px;
		width: 100%;
		min-width: 200px;
		border: thin solid #888;
	}

}

.imgwrap{
	overflow: hidden;
	width: 100%;
}



/** main page */ 

.agate li{
	font-size: 85%;
	margin-bottom: 0.4em;
}

.about{
	font-size: 90%;
	color: #ccc;
}


footer.footer{
	padding: 1.5em 0;
	margin-top: 2.0em;
	background: #393939;
	min-height: 150px;

	@media (max-width: 767px) {		
			margin-left: -20px;
			margin-right: -20px;
			padding: 0.5em 20px;


	}
		-webkit-box-shadow: 3px -2px 3px 2px #000;
   -moz-box-shadow: 3px -2px 3px 2px #000;
        box-shadow: 3px -2px 3px 2px #000;

}

.logo{
	font-weight: bold;
	font-size: 32px;
	@media (max-width: 767px) {
		font-size: 1.3em;
	}
}

.tagline{
	@media(max-width: 480px){
		display:none;
	}
}

header.banner{
	background: #393939;
	padding: 0.5em 0;
	@media (max-width: 767px) {
			padding: 0.5em 20px;
			margin-left: -20px;
			margin-right: -20px;
	}
		-webkit-box-shadow: 3px 2px 3px 2px #222;
   -moz-box-shadow: 3px 2px 3px 2px #222;
        box-shadow: 3px 2px 3px 2px #222;



}

#sub-banner{
	margin-top: 8px;
}
.nav-list{
	margin: 0;
	padding: 0;
	li{
			list-style:none;		
			display: inline;
			margin: 0;
			margin-right: 15px;
			padding: 0;
			text-transform: uppercase;
			a:link, a:visited{ color: white;} 

	}

}

/*
#mytopnav{
	padding-top: 15px;
		padding-bottom: 15px;
}

.navbar{
	margin-bottom: 0px;
	@media (max-width: 767px) {
			margin-left: -20px;
			margin-right: -20px;
	}



}

.navbar .container{

	width: 940px;

	@media (max-width: 979px) and (min-width: 768px){
		width: 724px;
	}

	@media (max-width: 767px) {		
			width: auto;
	}

}


#subsidiary-nav{
	display: none;
}
*/
.tk-event{
	margin-bottom: 18px;
	height: 150px;
	overflow: hidden;
	background: $bodyBackground;

	@media (max-width: 480px) {		
			width: auto;
			height: auto;
	}

}

.sked{
	border-right: thin solid #bbb;
}
.event-info{
	font-size: 1.0em;
	line-height: 1.3em;
}

img.fRight{
	float: right;
	margin: 0 0 12px 12px;

}

.event-detail .description{
	margin-top: 2.5em;
}

.navbar-inverse{
	a.hilite, a:link.hilite, a:visited.hilite{
		color: #dfd;
	}
}

#videorama{

	[class*="span"]{
		margin-left:0;
	}

	.video .imgwrap{
		border: 0;
	}
}

#venues-list{

	.place{
		margin-bottom: 1.0em;
	
		h5{
			margin-top: 0;
			margin-bottom: 0;
		}
	}

}


.weekname{
	padding-bottom: 3px;
	margin-bottom: 1.0em;
	border-bottom: 1px solid #777;
}

@media (max-width:480px) {
	h1 { font-size: 1.3em} // ~38px
	h2 { font-size: 1.25em; } // ~32px
	h3 { font-size: 1.1em; } // ~24px
	h4 { font-size: 1.05em; } // ~18px
	h5 { font-size:  1.0em; }
	h6 { font-size: 0.85em; } // ~12px

	h1,h2,h3,h4,h5,h6{
		line-height: 1.2em;
	}

}