@import "compass_twitter_bootstrap";

@import "compass_twitter_bootstrap_responsive";
@import "animation_styles";

ul.filters{
	li{ 
		cursor: pointer;
	}

	li:hover{
		color: #F99;
	}
}

.active{
	color: red;
}

.calendar .event{
	padding: 10px;
	margin-bottom: 12px;
	width: 200px;

	.imagebox{
		height: 120px;
		width: 200px;
		padding: 1px;
		border: thin solid #888;
	}

}


