<p style="color:blue">This is the calendar view.</p>

<div>
	<h2>Datepicker</h2>
</div>

	<h3>Events</h3>

<div class="row">
	<section class="span8">
	<div ng-repeat="event in events"  class="">
	   <a ng-href=""> 
	  		<b>{{event.name}}</b>	  
	  	</a>

	    <div class="category"><em>{{event.category}} {{event.sub_category}}</em></div>
	    <div class="time">{{[event.start_time, event.end_time] | timeRange }}</div>
	</div>

	</section> <!--span8-->

	<section class="span4">
	<ul>	
			<li ng-repeat="(category,count) in categories" ng-model="categories" class="">
			   <a ng-href=""> {{category}} </a>: {{count}}
			</li>
	</ul>


	</section> <!--span4-->

</div>

	

