<div class="event event-detail">

	
			<h1 class="title">{{event.name}}</h1>






			<div class="row event-info"> 

					<div class="span3">
						<div class="sked">
							<div class="date">
								{{event.start_time | readableDate}}
							</div>
							<div class="time">
								{{[event.start_time, event.end_time] | scheduledTimeMinimal}}
							</div>
						</div>
					</div> <!--span4-->			
					<div class="span3">
												<div class="sked">						

						<div ng-switch="!!event.ticket_url"><strong>Price:</strong> 
							
							<span ng-switch-default>Free</span>						

							<span ng-switch-when="true"><a ng-href="{{event.ticket_url}}">Tickets</a></span>						

						</div>
						<div></div>							
												</div>	

					</div>

					<div class="span3">
												<div class="sked">						

						<div><a ng-href="https://twitter.com/intent/tweet?text=Check+out+this+on+@SummerStage&url={{this_url}}">Tweet</a></div>
						<div><a ng-href="{{event.homepage_url}}">Event Listing on UPlanMe</a></div>							
												</div>	

					</div>
			
					<div class="span3">
							<div>
								{{event.borough }}
							</div>
							<div>
								<a href="/#/places/{{event.place_id}}">{{event.place_name }}</a>
							</div>
						
					</div>	


			</div> <!--event-info-->


	<div class="row">	

		<div class="span9">

				
			<div class="description">


				<img class="fRight bs" ng-src="{{event.image_url}}" alt="">

				<div ng-bind-html="event.description | convertParagraphs">
				</div>
			</div>

			</section> 
			<!--frontmatter-->



			<section ng-show="event.youtube_videos.length > 0" class="woz">
				<h4>Videos</h4>

				<div class="video-embed flex-video widescreen box" ng-repeat="video in event.youtube_videos">
					
					<iframe id="player-{{video.id}}" ng-src="{{video.uid | youtubeSrc}}" frameborder="0" allowfullscreen></iframe>					
				</div>	


			</section>



<section class="woz" ng-show="related_events.length > 0">
		<h3>Related events</h3>
		<div class="row">
	
			<div ng-repeat="event in related_events">
				
				<div class="span4">		
				
				               <event-blurb></event-blurb>


				</div>

				
			</div>	

		</div>

	</section>









		</div>




		<div class="span3">
			&nbsp;
			<div class="place" ng-show="placeDataReady" ng-animate="{enter: 'view-enter'}"> 


<a target="_map" href="{{[place.lat, place.lng] | googleMaps}}">
				<div class="imgwrap">

					<img ng-src="{{ {h:300, w:220, markers:[{lat: place.lat, lng:place.lng}]} | googleStaticMap }} ">
				</div>
	
								

				<div>
					Google Maps
				</div>
			</a>	

				<div>
					<a target="_fsq" href="{{place.foursquare_canonical_id | foursquareVenue}}">Foursquare</a>
				</div>				

<div ng-show="otherPlaceEvents.length > 0">
				<h5>More events at <br><a href="/#/places/{{place.id}}">{{place.name}}</a>
</h5>

<br>






				<ul class="unstyled agate">
					<li ng-repeat="p_event in otherPlaceEvents" ng-animate="{enter: 'view-enter'}">
						{{p_event.start_time | shortDate}}
						<a ng-href="/#/events/{{p_event.id}}">{{p_event.name}}</a>
					</li>
				</ul>

				</div>

		</div>		
				
				<p>See all <a href="/#/places/{{place.id}}">events at {{place.name}}</a></p>



			</div>

		</div>
	</div> <!-- row -->

</div>



