

<section class="woz">
   
   <div class="loading" ng-hide="eventsDataReady" ng-animate="'fade'">
      Data loading...
   </div>


<div class="row">
  <div class="span6"><h1 class="sec">Calendar</h1></div>
  <div class="span6">
    
  <div class="controls" style="text-align: right">  
<label for="catComboBox">Filter by</label>
  <select id="catComboBox" name="catComboBox" ng-model="theCategory">
  
    
    <option value checked="checked">All</option>
    <option ng-repeat="category in categories" value="{{category}}">      
      {{category}}
    </option>  
  </select>    


  </div>

  </div>
</div> <!--row -->

</section>

   <section ng-repeat="(day, events) in groupedEvents">

      <h4 class="weekname" ng-show="filteredEvents.length > 0">{{day | plus6days}}</h4>
       

      <div class="row">
         <div ng-repeat="event in filteredEvents = (events | filter:{canonical_category: theCategory })" class="span4" >
               <event-blurb></event-blurb>
            </div> <!--span -->
      </div>
   </div>
 

    </section>  

