<h1>SummerStage 2013 Events</h1>



   
   <div class="loading" ng-hide="eventsDataReady" ng-animate="'fade'">
      Data loading...
   </div>

   <section ng-repeat="(day, events) in groupedEvents">

      <h4>{{day | weekDisplay}}</h4>

      <div class="row">
         <div ng-repeat="event in events" class="span6">

               <div class="tk-event">

                  <div class="sub row">
            
             <div class="span2">
                          
                           <div class="minopt">
                              <img src="http://placekitten.com/150/100" alt="">
                           </div>

                       </div>

                       <div class="span4"> 

                          
                           <em>{{event.category}}</em>: 
                          <a ng-href="/#/events/{{event.id}}"> 
                             {{event.short_name}}  
                          </a>



              
                           <div class="datetime">
                             <span class="date">{{event.start_time | readableDate}}</span>
                             {{[event.start_time, event.end_time] | scheduledTimeMinimal }}
                             
                          </div>
  
                                                  <div class="place"><strong>{{event.borough}}</strong> / {{event.place_name}}</div>
  
 
</div>

  
   
                       
                       
                       </div> <!--span3 -->

                      
                  </div>

               </div> <!--tk-event-->
            </div> <!--span -->
      </div>
   </div>
 

    </section>  

