<div class="event event-detail">

	


	<div class="row">	

		<div class="span9">

			<h1>{{event.name}}</h1>

			<section>



			<div class="row event-info"> 

					<div class="span3">
						<div class="sked">
							<div class="date">
								{{event.start_time | fullDate}}
							</div>
							<div class="time">
								{{[event.start_time, event.end_time] | scheduledTimeMinimal}}
							</div>
						</div>
					</div> <!--span4-->						
					<div class="span3">
						<div class="sked">						
							<div>
								<a href="/#/places/{{event.place_id}}">{{event.place_name }}</a>
							</div>
							<div>
								{{event.borough }}
							</div>
						</div>	
					</div>	

					<div class="span3">
						<div><a ng-href="{{event.homepage_url}}">Event Listing on UPlanMe</a></div>							

					</div>

			</div> <!--event-info-->


				
			<div class="description">


				<img class="fRight" ng-src="{{event.image_url}}" alt="">

				<div ng-bind-html="event.description | convertParagraphs">
				</div>
			</div>

			</section> 
			<!--frontmatter-->

			<section>
				<h4>Information about {{event.place_name}}</h4>
			</section>

			<section>
				<h4>Related events</h4>
			</section>

		</div>

		<div class="span3">
			&nbsp;
			<div class="place" ng-show="placeDataReady" ng-animate="{enter: 'animate-enter'}"> 
				<h3>{{place.name}}</h3>

				<div class="imgwrap" style="height:250px; background: #aaa;">
					<img src="http://placekitten.com/220/250" alt="cat">
				</div>
	
				
				<div>
					<a target="_map" href="{{[place.lat, place.lng] | googleMaps}}">See Google Maps</a>
				</div>

				<div>
					<a target="_fsq" href="{{place.foursquare_canonical_id | foursquareVenue}}">Check-in on FourSquare</a>
				</div>				
				<h4>Other events here</h4>

				<ul>
					<li ng-repeat="p_events in place.limited_events" ng-animate="{enter: 'animate-enter'}">
						<a ng-href="/#/events/{{p_events.id}}">{{p_events.name}}</a>
					</li>
				</ul>


			</div>

		</div>
	</div> <!-- row -->

</div>



