<div class="row">
	<div class="span8">
		<h2>Upcoming</h2>

		<div ng-repeat="event in events" class="item event" ng-animate="{enter: 'animate-enter'}">
			
			{{event.start_time | readableDate}} - <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
		</div>	
		<div>
			See all <a href="/#/events">event listings</a>
		</div>
		
	</div>

	<div class="span4">

		<section ng-show="videoDataLoaded">

			<div>
	       <a href="/#/videos/{{randomVideo.uid}}"> 
	  			<img ng-src="{{randomVideo.thumbnail}}" alt="{{randomVideo.title}}">
	        </a>
			</div>
		</section>

		<section>
				<h4>About</h4>
				<p>
					<strong>STAGEORAMA</strong> was built by Dan Nguyen of Skift for the
					2013 SummerStage Hack Challenge. 

					It is not officially endorsed by the
					New York City Parks Foundation nor the SummerStageTK
				</p>
				<p>
					This app was built to create a quick, clean way to navigate 
					the SummerStage 2013 events listing. And for the musicians and artists
					you haven't seen yet, the <a href="/#/videos">VideoRama</a> feature lets you
					experience the SummerStage festival through hand-curated Youtube videos of 
					the participating acts.
				</p>
				<p>
					If you like this app, I'd appreciate it if you'd vote in the 
					HackSummerStage Challenge. If I win, the city parks officials will be forced
					to try to pronounce my last name at the beginning of each event :)
				</p>
		</section>

		<section>
				<h4>Features</h4>
		</section>

	</div> <!--span6-->
</div> <!-- row -->