

<div class="hotnav myhero">
<section class="woz">

		<div class="container">
		
		<div class="row">
		
	<a href="/#/events">		<div class="span4">
								
			
							<img src="/images/remote/places/small/7.jpg" alt="Events">
								<h2>EVENTS</h2>
			
				</div>
			</a>
			
		<a href="/#/venues">
									
							<div class="span4">
								<img src="/images/remote/places/small/3.jpg" alt="Venues">
													<h2>VENUES</h2>
							</div>
				
					
				</a>
		
		
		<a href="/#/videos">
				<div class="span4">
									
									<img src="/images/remote/places/small/2.jpg" alt="Videorama">
									<h2>VIDEORAMA</h2>
				
							</div>
				
				</a>
			
			</div>	
		
		</section>
			
		</div>

</div>



<div class="container">



<section class="woz">
		<div class="row" ng-repeat="event in events">




			
			<div class="span3">
				{{event.start_time | readableDate}}  <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
			</div>

				
		


<div class="span3">
				{{event.start_time | readableDate}}  <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
			</div>

<div class="span3">
				{{event.start_time | readableDate}}  <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
			</div>


<div class="span3">
				{{event.start_time | readableDate}}  <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
			</div>


		</div> <!--row-->


</section>

</div> <!--container-->


<div class="myhero">

<div class="container">
<section class="woz">
<div class="row">
	
	


		<section class="about span6">
				<h4>About SummerStageLove</h4>
				<p>
					<strong>STAGEORAMA</strong> was built by Dan Nguyen of Skift for the
					<a href="http://hacksummerstage.com/">2013 Hack SummerStage Challenge</a>. 

					It is not officially endorsed by the
					New York City Parks Foundation nor the SummerStageTK
				</p>


				<p>
I built this website because I wanted a fast simple way to see all the events that are scheduled this summer. But after doing that, I realized there were a lot of performers who I hadn't either seen or heard of before, so I used the YouTube API to discover shows that I might not have been interested in if I hadn't seen their TK performance. SummerStageLove contains more than 200x videos related to the shows here. I hope you find the information helpful in planning out your summer!</p>



				<p>
					So if you find this app useful, please consider voting for it in the Hack SummerStage Challenge.
					If you have any questions/complaints, feel free to contact me on Twitter at @dancow or at my blog
				</p>
		</section>


			<div class="span6">
	       <a href="/#/places"> 
	  			<img src="/images/stageorama.jpg" alt="SummerStage">
	        </a>
			</div>





</div>

</section>
</div> <!--container-->
</div>