

<div class="hotnav myhero">
<section class="woz">

		<div class="container">
		
		<div class="row">
		
	
		<div class="span4">
								
				<a href="/#/events">	
							<div class=" imgwrap"><img src="/images/remote/places/small/7.jpg" alt="Events"></div>
								<h2>EVENTS</h2>
			</a>
			
				</div>
			
									
							<div class="span4">
		<a href="/#/places">

								<div class="imgwrap"><img src="/images/remote/places/small/3.jpg" alt="Venues"></div>
													<h2>VENUES</h2>
				</a>

							</div>
				
					
		
				<div class="span4">
		
		<a href="/#/videos">
									
									<div class="imgwrap"><img src="/images/remote/places/small/2.jpg" alt="Videorama"></div>
									<h2>VIDEORAMA</h2>
				</a>
				
							</div>
				
			
			</div>	
		
		</section>
			
		</div>

</div>



<div class="container">



<section class="woz">

<h3>Upcoming Shows</h3>
<div class="row featured-events">
		<div ng-repeat="event in events">
			
			<div class="span3">
	<div class="event box">
				<div class="imgwrap">
					<a ng-href="/#/events/{{event.id}}"><img ng-src="{{event.feature_thumbnail}}" alt=""></a>
				</div>

				{{event.start_time | readableDate}}  <a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
				at <a ng-href="/#/places/{{event.place_id}}">{{event.place_name}}</a>

				</div>
			</div>



		</div>

</div> <!--row-->
</section>

</div> <!--container-->


<div class="myhero">

<div class="container">
<section class="woz">
<div class="row">
	
	


		<section class="about span6">
				<h4>About SummerStageLove</h4>
				<p>
I made this website because I wanted a fast simple way to browse the events at <a href="http://www.cityparksfoundation.org/summerstage/">SummerStage 2013</a>. I already have apps to find where the parks and the train stops are, so <em>SummerStageLove</em> is focused just on making it easier to discover music. I'm not very good at figuring out music by reading about music, so in addition to <a href="/#/events">creating a easily readable list</a>, I collected more than <a href="/#/videos">a hundred YouTube videos for this year's SummerStage performers</a>.</p> 

<p>If you're in New York this summer, you might find SummerStageLove useful too. The summer's already short enough without spending time just looking for things to see and do.</p>


<p>This site would not have been possible without the APIs and services of the <a href="http://www.cityparksfoundation.org/summerstage/">City Parks Foundation</a>, <a href="http://www.uplanme.com/">UPlanMe</a>, <a href="http://challengepost.com/">ChallengePost</a>, <a href="http://aws.amazon.com/">Amazon AWS</a>, <a href="http://foursquare.com">Foursquare</a>, <a href="https://developers.google.com/maps/">Google Maps</a>, and of course, <a href="https://developers.google.com/youtube/">YouTube</a>.

</p>

		<p>
			If you do like <em>SummerStageLove</em>, feel free to vote for it in the <a href="http://hacksummerstage.com/submissions">HackSummerStage Challenge</a>.
			If you have any questions or comments, feel free to contact me on Twitter at <a href="https://twitter.com/dancow">@dancow</a> or at my <a href="http://danwin.com">blog</a>.
		</p>
<p><em>&ndash; Dan Nguyen</em></p>

		</section>


			<div class="span6">
			<div class="imgwrap">
	       <a href="/#/places"> 
	
	  			<img src="/images/stageorama.jpg" alt="SummerStage">
	        </a>
	     </div>

			<div class="imgwrap">
					       <a href="http://www.cityparksfoundation.org/summerstage/"> 
	  			<img src="/images/summerstage-logo.jpg" alt="SummerStage">
	        </a>

			</div>

			</div>





</div>

</section>
</div> <!--container-->
</div>