<div id="venues-list">
<h1 class="sec">Venues</h1>


   <section ng-repeat="(borough,places) in boroughGroups" ng-animate="{enter: 'animate-enter'}" class="woz borough">

          <h3>{{borough}}</h3>

<div class="row">

      

             <div ng-repeat="place in places" ng-animate="{enter: 'animate-enter'}" >   

                   <div class="span6">
                     <div class="place">

                      <div class="imgwrap">
                        <a ng-href="/#/places/{{place.id}}"><img ng-src="/images/remote/places/small/{{place.image_url}}"></a>
                      </div>
                      <div>
                        <h3 style="margin-bottom: 0px"> <a ng-href="/#/places/{{place.id}}">{{place.name}}</a> </h3>
                      </div>
                      <div>
                        <ng-pluralize count="place.events_count" when="{'0': '', 'one': '1 event', 'other': '{} events'}"></ng-pluralize>
                      </div>
                      <div>
                        <strong>{{place.foursquare_check_ins}}</strong> Foursquare checkins                         
                      </div>
                   </div> <!--place-->
                   </div>

      </div> 

      </div> <!--row main-->

   </section> <!--borough-->

</div>