

<div class="ledeo" ng-show="{{!!!place.image_url}}">
	<img  class="ledeo" src="/images/remote/places/big/{{place.image_url}}">

	<div class="sub-ledeo">
		<div class="container">
			<p><em>TK PHOTO BY{{place.remote_photo_caption}}</em></p>
			<h1>{{place.name}}
					
				in 
				
				{{place.borough}}
			</h1>
		</div>
	</div>	
</div>


<div class="container">
<div class="place">

	<section class="optional"  ng-hide="{{!!!place.image_url}}">
			<h1>{{place.name}}
					
				<br>

				{{place.borough}}
			</h1>
</section>

	<section>
		<div>
			<strong>Description</strong>
		</div>

		<div>
			<strong>Events listing</strong>
	
			<div ng-repeat="event in place.events">
				
				<a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
				
			</div>	

		</div>

		<div>See on a Google Map (lat,lng)</div>
	

	</section> 
	<!--frontmatter-->




	<div class="row">	

		<div class="span8">

			

		</div>

	</div> <!-- row -->

</div>


</div>
