<div id="venues-list">
<h1>Venues</h1>


   <section ng-repeat="(borough,places) in boroughGroups" ng-animate="{enter: 'animate-enter'}" class="borough">

          <h4>{{borough}}</h4>

<div class="row">

      
      <div class="span4">

         <div class="imgwrap">
            <img ng-src="http://placehold.it/300x200">
         </div> 
      </div>

      <div class="span8">
         <div class="row">
             <div ng-repeat="place in places" ng-animate="{enter: 'animate-enter'}">   

                   <div class="span4">
                     <div class="place">

                      <div class="imgwrap">
                        <a ng-href="/#/places/{{place.id}}"><img ng-src="/images/remote/places/small/{{place.image_url}}"></a>
                      </div>
                      <div>
                        <h5> <a ng-href="/#/places/{{place.id}}">{{place.name}}</a> </h5>
                      </div>
                      <div>
                         {{place.address}}
                      </div>
                      <div>
                        <ng-pluralize count="place.events_count" when="{'0': '', 'one': '1 event', 'other': '{} events'}"></ng-pluralize>
                      </div>
                      <div>
                        <strong>{{place.foursquare_check_ins}}</strong> FourSquare checkins                         
                      </div>
                   </div> <!--place-->
                   </div>
             </div>

         </div> <!--row--> 
      </div> 

      </div> <!--row main-->

   </section> <!--borough-->

</div>