

<div class="ledeo" ng-show="{{!!!place.image_url}}">
	<img  class="ledeo" src="/images/remote/places/big/{{place.image_url}}">

	<div class="sub-ledeo">
		<div class="container">
			<p><em><a href="{{place.image_source_url}}">{{place.image_caption}}</a></em></p>
					<h1>{{place.name}}</h1>
					

				<h2>{{place.borough}}</h2>
		</div>
	</div>	
</div>


<div class="container">

<section class="woz">
<div class="place">

	<section class="optional"  ng-hide="{{!!!place.image_url}}">
			<h1>{{place.name}}</h1>
					

				<h2>{{place.borough}}</h2>
	</section>

	<section class="woz">

		<div class="row">
				<div class="span6">

&nbsp;
				</div>

<div class="span6">				

<a target="_map" href="{{[place.lat, place.lng] | googleMaps}}">
	<div class="imgwrap bs">

					<a href=""><img src="{{ {h:400, w:600, markers:[{lat: place.lat, lng:place.lng}]} | googleStaticMap }} "></a>
				</div>
Google Maps
</a>

</div>
		</div>

<section class="woz">
		<h3>Events</h3>
		<div class="row">
	
			<div ng-repeat="event in place.events">
				
				<div class="span4"			
							 <div class="tk-event">
			      <div class="datetime" style="color: #bbb">
			        {{[event.start_time, event.end_time] | standardTimeMinimal }}
			     </div>
			                          
			   <a ng-href="/#/events/{{event.id}}"> 
			     {{event.name}}  
			  </a> 
			</div> <!--tk-event-->

			</div>

				
			</div>	

		</div>

	</section>

	</section> 
	<!--frontmatter-->




	<div class="row">	

		<div class="span8">

			

		</div>

	</div> <!-- row -->

</div>

</section>
</div>
