

<div class="ledeo" ng-show="{{!!!place.image_url}}">
	<img  class="ledeo" src="/images/remote/places/big/{{place.image_url}}">

	<div class="sub-ledeo">
		<div class="container">
			<p><em><a href="{{place.image_source_url}}">{{place.image_caption}}</a></em></p>
					<h1>{{place.name}}</h1>
					

				<h2>{{place.borough}}</h2>
		</div>
	</div>	
</div>


<div class="container">

<section class="woz">
<div class="place">

	<section class="optional"  ng-hide="{{!!!place.image_url}}">
			<h1>{{place.name}}</h1>
					

				<h2>{{place.borough}}</h2>
	</section>

	<section>
		<div>
			<strong>Description</strong>
		</div>

		<div>
			<strong>Events listing</strong>
	
			<div ng-repeat="event in place.events">
				
				<a ng-href="/#/events/{{event.id}}">{{event.name}}</a>
				
			</div>	

		</div>

		<div>See on a Google Map (lat,lng)</div>
	

	</section> 
	<!--frontmatter-->




	<div class="row">	

		<div class="span8">

			

		</div>

	</div> <!-- row -->

</div>

</section>
</div>
