


<section id="videorama" style="padding-top: 1.0em;">
   
<div class="container">
<div class="span6">
    <h1 class="sec">Videorama!</h1>
 
 <div ng-hide="dataReady">
<p><em>Data loading...</em></p>
</div>
   </div> 
 <div class="span6">  

   <br>
    <div class="controls" style="text-align: right;">
 
   <select id="catComboBox" ng-model="theCategory">
 
     <option value checked="checked">All</option>
     <option ng-repeat="category in categories" value="{{category}}">      
       {{category}}
     </option>  
   </select>    
 
   
   <p>
      Sorted by: <a href="/#/videos">Event date</a> | <a href="/#/videos/sort/view_count">View count</a>
 
   </p>
    
 
   </div>
 
 </div>
</section>


<section class="rama woz"   ng-show="dataReady">



<div class="clearfix" ng-class="ramaSize">

   <video-stub ng-repeat="video in videos  | filter:{category_list: theCategory }"> 
   </video-stub>   

</div>
</section>


</div>



